In [ ]:
                                                       # Data Cleaning

In [1]:
import numpy as np
from numpy import nan as NA
import pandas as pd

In [5]:
print("A lot of time will be spent cleaning, transformating nad re-arranging data.",
      "Missing data is a very commom occurence.",
      "\nThankfully, there are a few ways to filter out missing data.")

A lot of time will be spent cleaning, transformating nad re-arranging data. Missing data is a very commom occurence.
Thankfully, there are a few ways to filter out missing data.

In [2]:
series1 = pd.Series([1, NA, 3.5, NA, 7])
print("For a series, filtering out missing data will only return non-missing values and their respective indexes.",
      "series1.dropna() is the same as data[data.notnull()]:\n", series1.dropna())

For a series, filtering out missing data will only return non-missing values and their respective indexes. series1.dropna() is the same as data[data.notnull()]:
 0    1.0
2    3.5
4    7.0
dtype: float64

In [4]:
df = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                      [NA, NA, NA], [NA, 6.5, 3.]])
dfcleaned = df.dropna()
print("Missing values in DataFrames are a little more tricky. We can drop missing values with .dropna().\n",
       "data:\n", df)
print("\ndf.dropna():\n", dfcleaned)
print("\ndf.dropna(how='all') drops all rows that are missing and df.dropna(axis=1, how='all') drops the columns.")

Missing values in DataFrames are a little more tricky. We can drop missing values with .dropna().
 data:
      0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

df.dropna():
      0    1    2
0  1.0  6.5  3.0

df.dropna(how='all') drops all rows that are missing and df.dropna(axis=1, how='all') drops the columns.

In [5]:
df2 = pd.DataFrame(np.random.randn(7, 3))
df2.iloc[:4, 1] = NA
df2.iloc[:2, 2] = NA
print("We can fill empty data in a number of ways:\n", df2)
print("\ndf2.fillna(0) will simply replace missing values with '0':\n", df2.fillna(0))
print("\ndf2.fillna({1: 0.5, 2: 0}) will replace values in those columns with their pair value:\n", 
      df2.fillna({1: 0.5, 2: 0}))
print("\nChanges can be made in place with _ = df2.fillna(0, inplace = True).\n")
print("To replace missing values with the mean of that column, write: df2.fillna(df2.mean(), inplace = True).")

We can fill empty data in a number of ways:
           0         1         2
0 -1.104044       NaN       NaN
1 -0.298436       NaN       NaN
2  0.077988       NaN -0.621923
3  1.279364       NaN -1.480129
4 -0.472167  0.672329 -0.944504
5  0.112614 -0.182097 -0.767533
6  0.876511 -0.950953 -1.548921

df2.fillna(0) will simply replace missing values with '0':
           0         1         2
0 -1.104044  0.000000  0.000000
1 -0.298436  0.000000  0.000000
2  0.077988  0.000000 -0.621923
3  1.279364  0.000000 -1.480129
4 -0.472167  0.672329 -0.944504
5  0.112614 -0.182097 -0.767533
6  0.876511 -0.950953 -1.548921

df2.fillna({1: 0.5, 2: 0}) will replace values in those columns with their pair value:
           0         1         2
0 -1.104044  0.500000  0.000000
1 -0.298436  0.500000  0.000000
2  0.077988  0.500000 -0.621923
3  1.279364  0.500000 -1.480129
4 -0.472167  0.672329 -0.944504
5  0.112614 -0.182097 -0.767533
6  0.876511 -0.950953 -1.548921

Changes can be made in place with _ = df2.fillna(0, inplace = True).

To replace missing values with the mean of that column, write: df2.fillna(df2.mean(), inplace = True).

In [13]:
series2 = pd.Series([1., -999., 2., -999., -1000., 3.])
print(series2)
print("\nWe can pass dicts to replace missing values: series2.replace({-999: np.nan, -1000: 0}):\n",
      series2.replace({-999: np.nan, -1000: 0}))

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

We can pass dicts to replace missing values: series2.replace({-999: np.nan, -1000: 0}):
 0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64