In [1]:
                                                        # pandas

In [2]:
# It contains data structures and data manipulation tools designed for data cleaning and analysis.

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
print("Series and DataFrame are the 2 main data structures used in pandas.")
series1 = pd.Series([4, 7, -5, 3])
print("\nIn a series, the index (left column) will be listed with the value (right column):\n", series1)
data1 = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
df1 = pd.DataFrame(data1)
print("\nA dataframe represents a more rectangular table of data:\n", df1)

Series and DataFrame are the 2 main data structures used in pandas.

In a series, the index (left column) will be listed with the value (right column):
 0    4
1    7
2   -5
3    3
dtype: int64

A dataframe represents a more rectangular table of data:
     state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [70]:
print("Two useful methods for series are .values and .index. \nseries1.values returns:\n", series1.values)
print("series.index returns:\n", series1.index)
series2 = pd.Series([4, 7, -5, 3], index=['a', 'b', 'c', 'd'])
print("\nIt is possible to create series with custom indexing:" 
      "series2 = pd.Series([4, 7, -5, 3], index=['a', 'b', 'c', 'd'])\n", series2)
print("\nWe can then use these custom indexes to call a value. \nseries2['b']:", series2['b'])

Two useful methods for series are .values and .index.
series1.values returns:
 [ 4  7 -5  3]
series.index returns:
 RangeIndex(start=0, stop=4, step=1)

It is possible to create series with custom indexing:series2 = pd.Series([4, 7, -5, 3], index=['a', 'b', 'c', 'd'])
 a    4
b    7
c   -5
d    3
dtype: int64

We can then use these custom indexes to call a value.
series2['b']: 7

In [71]:
print("Series can also be thought of as a fixed-length, ordered dict.")
dict1 = {'Melbourne': 35000, 'Sydney': 71000, 'Adelaide': 16000, 'Perth': 5000}
print("\nSo much so that is it possible to create a Series from it, dict1:\n", dict1)
series3 = pd.Series(dict1)
print("\nseries3 = pd.Series(dict1) will produce:\n", series3)
states = ['Perth', 'Melbourne', 'Adelaide', 'Brisbane']
series4 = pd.Series(dict1, index=states)
print("\nOur states list 'states' produces:\n", states)
print("\nWe can change the order by modifying the key-index. series4 = pd.Series(dict1, index=states) produces:\n", series4)

Series can also be thought of as a fixed-length, ordered dict.

So much so that is it possible to create a Series from it, dict1:
 {'Melbourne': 35000, 'Sydney': 71000, 'Adelaide': 16000, 'Perth': 5000}

series3 = pd.Series(dict1) will produce:
 Melbourne    35000
Sydney       71000
Adelaide     16000
Perth         5000
dtype: int64

Our states list 'states' produces:
 ['Perth', 'Melbourne', 'Adelaide', 'Brisbane']

We can change the order by modifying the key-index. series4 = pd.Series(dict1, index=states) produces:
 Perth         5000.0
Melbourne    35000.0
Adelaide     16000.0
Brisbane         NaN
dtype: float64

In [7]:
print("To check for missing values, pass the object using the pd.isnull(object) method:\n", pd.isnull(series4))
series4.index.name = 'state'
print("\nThe index name can be set with: series4.index.name = 'state'\n", series4)

To check for missing values, pass the object using the pd.isnull(object) method:
 Perth        False
Melbourne    False
Adelaide     False
Brisbane      True
dtype: bool

The index name can be set with: series4.index.name = 'state'
 state
Perth         5000.0
Melbourne    35000.0
Adelaide     16000.0
Brisbane         NaN
dtype: float64

In [8]:
data2 = {'day': ['Monday', 'Tuesday', 'Monday', 'Wednesday', 'Sunday', 'Monday'],
         'count': [15, 49, 50, 17, 40, 70],
         'raining': [True, False, False, True, True, False]}
df2 = pd.DataFrame(data2)
print("To construct a dataframe, we can form dicts of equal-length lists or arrays:\n", df2)
print("\nTwo useful methods are .head() and .shape.")
print("df2.head() returns us the first 5 columns:\n", df2.head())
print("\ndf2.shape returns the no. of rows and columns:\n", df2.shape)

To construct a dataframe, we can form dicts of equal-length lists or arrays:
          day  count  raining
0     Monday     15     True
1    Tuesday     49    False
2     Monday     50    False
3  Wednesday     17     True
4     Sunday     40     True
5     Monday     70    False

Two useful methods are .head() and .shape.
df2.head() returns us the first 5 columns:
          day  count  raining
0     Monday     15     True
1    Tuesday     49    False
2     Monday     50    False
3  Wednesday     17     True
4     Sunday     40     True

df2.shape returns the no. of rows and columns:
 (6, 3)

In [73]:
df2 = pd.DataFrame(data2, 
                   columns=['count', 'raining', 'day', 'temperature'], 
                   index=['one', 'two', 'three', 'four', 'five', 'six'])
print("It is possible to re-order the columns with pd.DataFrame(data2, columns=['count', 'raining', 'day']):\n",
     pd.DataFrame(data2, columns=['count', 'raining', 'day']))
print("\nWe can add columns this way, pd.DataFrame(data2, columns=['count', 'raining', 'day', 'temperature']):\n",
     pd.DataFrame(data2, columns=['count', 'raining', 'day', 'temperature']),
     "\nThe column 'termperature' has been added with missing values.")
print("\nTo get the results from just 1 column, specify which index you want, df2['day'] or df2.day produces:\n",
     df2.day)

It is possible to re-order the columns with pd.DataFrame(data2, columns=['count', 'raining', 'day']):
    count  raining        day
0     15     True     Monday
1     49    False    Tuesday
2     50    False     Monday
3     17     True  Wednesday
4     40     True     Sunday
5     70    False     Monday

We can add columns this way, pd.DataFrame(data2, columns=['count', 'raining', 'day', 'temperature']):
    count  raining        day temperature
0     15     True     Monday         NaN
1     49    False    Tuesday         NaN
2     50    False     Monday         NaN
3     17     True  Wednesday         NaN
4     40     True     Sunday         NaN
5     70    False     Monday         NaN
The column 'termperature' has been added with missing values.

To get the results from just 1 column, specify which index you want, df2['day'] or df2.day produces:
 one         Monday
two        Tuesday
three       Monday
four     Wednesday
five        Sunday
six         Monday
Name: day, dtype: object

In [10]:
print("We can access a particular row with the special loc attribute, df2.loc['two'] produces:\n",
     df2.loc['two'])
val1 = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
df2['temperature'] = val1
print("\nWhen assinging lists or arrays to a column, its length must match the length of the DataFrame.\n",
      "If assigning a Series, it will match the index values and keep the others missing.\n",
     df2)
df2['monday'] = df2.day == 'Monday'
print("\nWe can assign values based on other columns. df2['monday'] = df2.day == 'Monday'.\n",
      "This creates a new column 'monday' which will be true for all values in the day column which are 'Monday'\n",
     df2)

We can access a particular row with the special loc attribute, df2.loc['two'] produces:
 count               49
raining          False
day            Tuesday
temperature        NaN
Name: two, dtype: object

When assinging lists or arrays to a column, its length must match the length of the DataFrame.
 If assigning a Series, it will match the index values and keep the others missing.
        count  raining        day  temperature
one       15     True     Monday          NaN
two       49    False    Tuesday         -1.2
three     50    False     Monday          NaN
four      17     True  Wednesday         -1.5
five      40     True     Sunday         -1.7
six       70    False     Monday          NaN

We can assign values based on other columns. df2['monday'] = df2.day == 'Monday'.
 This creates a new column 'monday' which will be true for all values in the day column which are 'Monday'
        count  raining        day  temperature  monday
one       15     True     Monday          NaN    True
two       49    False    Tuesday         -1.2   False
three     50    False     Monday          NaN    True
four      17     True  Wednesday         -1.5   False
five      40     True     Sunday         -1.7   False
six       70    False     Monday          NaN    True

In [31]:
df2.index = np.arange(1, len(df2) +1)
print("We set the DataFrame index to start at 1 with: df2.index = np.arange(1, len(df2) +1):\n", df2)

We set the DataFrame index to start at 1 with: df2.index = np.arange(1, len(df2) +1):
    count  raining        day  temperature  monday
1     15     True     Monday          NaN    True
2     49    False    Tuesday         -1.2   False
3     50    False     Monday          NaN    True
4     17     True  Wednesday         -1.5   False
5     40     True     Sunday         -1.7   False
6     70    False     Monday          NaN    True

In [30]:
data3 = pd.DataFrame(np.arange(16).reshape((4, 4)),
                     index=['Ohio', 'Colorado', 'Utah', 'New York'],
                     columns=['one', 'two', 'three', 'four'])
print("The drop keyword will modify DataFrames. By default, row labels will be dropped but we can still specify with",
      "axis = 'rows' or axis = 'columns'. Eg. data3.drop(['one'], axis = 'columns') will drop the 'one' column and",
      "data3.drop(['Ohio'], axis = 'rows') will drop the 'Ohio' row. We can define new DataFrames as data4 = ",
      "data3.drop(...).\n\n", data3)
print("\nBy default, DataFrames are not modified in place but can be with data3.drop(..., inplace = True).")

The drop keyword will modify DataFrames. By default, row labels will be dropped but we can still specify with axis = 'rows' or axis = 'columns'. Eg. data3.drop(['one'], axis = 'columns') will drop the 'one' column and data3.drop(['Ohio'], axis = 'rows') will drop the 'Ohio' row. We can define new DataFrames as data4 =  data3.drop(...).

           one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

By default, DataFrames are not modified in place but can be with data3.drop(..., inplace = True).

In [34]:
data3[data3 < 5] = 0
print("We can use boolean phrases to set values, Eg. data3[data3 < 5] = 0:\n", data3)
print("\nIt can also be used to return boolean values, Eg. data3 < 5:\n", data3 < 5)

We can use boolean phrases to set values, Eg. data3[data3 < 5] = 0:
           one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

It can also be used to return boolean values, Eg. data3 < 5:
             one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False

In [67]:
df3 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('abc'),
                    index=['Utah', 'Ohio', 'Texas'])
df4 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('abd'),
                    index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print("It is possible to 'add' two DataFrames. However, for any index pairs that are not the same, missing values will",
      "be returned.\n")
print(df3, "\n")
print(df4)
print("\n", df3 + df4)
print("\nHowever, it is possible to specify a special value to be returned when these pairs are missing," 
      "df3.add(df4, fill_value = 0)\n", df3.add(df4, fill_value = 0))

It is possible to 'add' two DataFrames. However, for any index pairs that are not the same, missing values will be returned.

         a    b    c
Utah   0.0  1.0  2.0
Ohio   3.0  4.0  5.0
Texas  6.0  7.0  8.0

          a     b     d
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

            a     b   c   d
Ohio     6.0   8.0 NaN NaN
Oregon   NaN   NaN NaN NaN
Texas   12.0  14.0 NaN NaN
Utah     0.0   2.0 NaN NaN

However, it is possible to specify a special value to be returned when these pairs are missing,df3.add(df4, fill_value = 0)
            a     b    c     d
Ohio     6.0   8.0  5.0   5.0
Oregon   9.0  10.0  NaN  11.0
Texas   12.0  14.0  8.0   8.0
Utah     0.0   2.0  2.0   2.0

In [74]:
print("\"df4.index.is_unique\" returns a boolean for the uniqueness of the DataFrames indexes:\n", df4.index.is_unique)
df5 = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])

"df4.index.is_unique" returns a boolean for the uniqueness of the DataFrames indexes.
 True